<!--
  Generated template for the LocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{heading}} </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="query"
    (input)="updateSearch()">
  </ion-searchbar>
   <ion-list>
    <ion-item *ngFor="let item of autocompleteItems"
              (click)="chooseItem(item)">
      {{ item.description }}
    </ion-item>
  </ion-list> 
</ion-content>