page-weather-detail {
    //negative margin to remove unused space in toolbar
    ion-navbar.toolbar-md, ion-segment.segment-md {
      margin-bottom: -14px !important;
    }
  
    ion-toolbar.toolbar-md {
      padding: 0 !important;
    }
  
    ion-content {
      background: $primary-color !important;
    }
  
    button[ion-item], ion-item {
      border: 0 !important;
    }
  
    .segment-md > ion-segment-button {
      color: $primary-color !important;
    }
  
    .segment-button.activated, .segment-button.segment-activated {
      border-color: $primary-color !important;
    }
  
    .item-block {
      min-height: 0 !important;
    }
  }
  