<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>World Weather</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab (click)="addLocation()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list *ngIf="arrWorldWeather">
    <ion-item-sliding *ngFor="let item of arrWorldWeather">
      <button ion-item text-wrap (click)="locationClicked(item.location)">
        <img [src]="utilService.getWeatherIcon(item?.firstDailyForecast?.icon)"
             onerror="this.src='assets/img/default.png'"
             item-left style="max-width: 12%">
        <div class="medium">{{item.location.name}}</div>
        <p *ngIf="item.firstDailyForecast" class="bold" ion-text color="text2">
          {{utilService.getStandardDay(item.firstDailyForecast.time,item.timezone)}}
        </p>
        <div *ngIf="item.firstDailyForecast && metrics" class="large" ion-text color="text1" item-right>
          {{utilService.formatTemp(item.firstDailyForecast.temperatureMax,metrics)}}
        </div>
        <p *ngIf="item.firstDailyForecast && metrics" class="medium bold" ion-text color="text2" item-right>
          {{utilService.formatTemp(item.firstDailyForecast.temperatureMin,metrics)}}
        </p>
      </button>
      <ion-item-options>
        <button ion-button color="danger" (click)="delete(item.location)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
