<ion-menu [content]="content">
    <ion-header no-border class="menu-image-height">
      <ion-navbar no-border style="padding:0" class="menu-image-height">
        <img class="menu-image menu-image-height" src="assets/img/menu.jpg"/>
      </ion-navbar>
    </ion-header>
  <ion-content>
    <ion-list>
      <ion-list-header>
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of Menu" [color]="isActive(menuItem)?'light':null" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        <span style="color:black">{{menuItem.title}}</span>
      </button>
      <ion-list-header>
        </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of Setting" [color]="isActive(menuItem)?'light':null" (click)="openPage(menuItem)">
          <ion-icon item-left [name]="menuItem.icon"></ion-icon>
          <span style="color:black">{{menuItem.title}}</span>
        </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage"  #content swipeBackEnabled="false" main></ion-nav>
