// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-app.md [padding], ion-app.md [padding] .scroll-content{
    padding: 0px;
}
// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.full-screen {
  height: 100% !important;
  margin: 0 !important;
}

.half-screen {
  min-height: 50% !important;
  margin: 0 !important;
}
.list-header-md{
border-top: 0px;
}
.center-child {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.powered-by {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.menu-image {
  background: $primary-color !important;
  margin-bottom: -30% !important;
  margin-top: -10% !important;
}

.menu-image-height {
  min-height: 150px !important;
}

.bg-light {
  background: #F2F2F2 !important;
}

ion-list-header {
  margin-bottom: 0 !important;
}

.bold {
  font-weight: bold !important;
}

.center {
  text-align: center !important;
}

.xx-large {
  font-size: 4.2rem !important;
}

.x-large {
  font-size: 3.2rem !important;
}

.large {
  font-size: 2.6rem !important;
}

.medium {
  font-size: 2.2rem !important;
}

.small {
  font-size: 1.8rem !important;
}

.x-small {
  font-size: 1.6rem !important;
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  .xx-large {
    font-size: 3.2rem !important;
  }
  .x-large {
    font-size: 2.6rem !important;
  }
  .large {
    font-size: 2.2rem !important;
  }
  .medium {
    font-size: 1.8rem !important;
  }
  .small {
    font-size: 1.6rem !important;
  }
  .x-small {
    font-size: 1.4rem !important;
  }
}

@-webkit-keyframes slidingAnimation {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(-70px, 0, 0);
    -webkit-transform: translate3d(-70px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.itemSlidingAnimation {
  -webkit-animation: slidingAnimation;
  animation: slidingAnimation;
  -webkit-animation-duration: 1000ms;
  animation-duraton: 1000ms;
}

ion-col[width-22] {
  flex: 0 0 22%;
  max-width: 22%;
}

.scroll-hourly {
  min-height: 70px !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid #dedede !important;
}
