<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"> </ion-icon> 
      </button>
      <ion-title>MOSUM</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <list-weather [location]="location"></list-weather>
    <!-- <list-weather></list-weather> -->
    <!-- <weather-list [location]="location"></weather-list> -->
</ion-content>
    